:root {
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    --main-font-color: #313248;
    --second-font-color: #a9b1bc;
    --main-font-size: 0.8rem;
    --second-font-size: 0.7rem;
    --third-font-size: 0.6rem;
    --content-font-size: 0.8rem;
    --title-font-size: 1.8rem;
    --border-color: #dbdfe3f3;
    --border-radius: 8px;
    --name-font: normal normal bold normal var(--title-font-size) var(--font-family);
    --hiring-manager-font: normal normal bolder normal 1.1rem var(--font-family);
    --job-title-font: normal normal normal normal var(--main-font-size) var(--font-family);
    --company-name-font: var(--job-title-font);
}



.letter-container {

    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template:
        "name name" 20%
        "company letter" auto
        /[col-start] 1fr [col-1] 2fr [col-end];

    .name {
        grid-area: name;
        grid-column: 1/3;
        align-self: center;

        /* font-size: var(--title-font-size);
            font-weight: bolder;
 */
        font: var(--name-font);
        margin-bottom: 60px;
        margin-top: 30px;
    }

    .company {
        grid-area: company;
        border-right: 1px solid var(--border-color);
        align-self: self-start;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin-right: 20px;
        height: 100%;

        .hiring-manager-name {
            flex-basis: 13%;
            font: var(--hiring-manager-font);
        }

        .job-title {
            flex-basis: 13%;
            font: var(--job-title-font);
        }

        .company-name {
            flex-basis: 13%;
            font: var(--company-name-font);
        }
    }

    .letter-container {
        grid-area: letter;
        display: flex;
        flex-direction: column;

        .letter-content {
            text-align: left;
        }

        .date {
            margin-bottom: 20px;
        }

        .to {
            margin-bottom: 15px;
            font-weight: bolder;
        }

        .from {
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            span:nth-child(2) {
                font-weight: bold;
                margin-top: 3px;
            }

            span:last-child {
                margin-top: 10px;
            }
        }
    }
}

.edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .edit-item {
        width: 100%;
        margin: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        h4 {
            font-size: 1.2rem;
            font-weight: bold;
        }

        .input-container {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: start;
            justify-content: space-between;
            align-content: space-between;
            flex-wrap: wrap;
            width: 100%;

            .input-item {
                flex-basis: 48%;
                display: flex;
                flex-direction: column;
                /* outline: 1px solid palevioletred; */
                margin-top: 25px;

                label {
                    color: #7c8484;
                }

                input {
                    margin-top: 10px;
                    background-color: #ebf3fb;
                    height: 35px;
                    border-radius: 6px;
                    padding: 0 10px;
                    box-sizing: border-box;
                }
            }
        }
    }

    .personal-details {}

    .employer-details {}

    .letter-details {
        .editor {
            margin-top: 25px;
            width: 100%;
        }
    }

}


button[type="submit"] {
    /* outline: 1px solid palevioletred; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 35px;
    width: 100px;
    padding: 5px;
    border: 1px solid var(--border-color);
    background-color: #fff;

}